@import 'vars';
@import 'global';
@import 'fonts';
.header {
    .header__top {
        background-color: #eef1f3;
    }
    .header__topInner {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__topInnerBox {
        display: flex;
        align-items: center;
    }
    .header__becomeASeller {
        align-self: flex-end;
        a {
            font-size: 14px;
            line-height: 14px;
            color: #fff;
            padding: 13px 20px;
            background-color: #0674ec;
            border-radius: 20px;
        }
    }
    .header__alerts {
        margin-left: 50px;
        display: flex;
        align-items: center;
        a + a {
            margin-left: 30px;
        }
    }
    .header__userInfo {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .userInfo__stat {
        margin-left: 25px;
    }
    .userInfo__avatar {
        width: 50px;
        height: 50px;
    }
    .userInfo__name,
    .userInfo__balance {
        display: block;
        line-height: 22px;
    }
    .userInfo__name {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
    }
    .userInfo__balance {
        color: #0674ec;
        font-size: 15px;
    }
    .header__bottom {
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }
        &-menu li {
            display: inline-block;
        }
        &-menu li + li {
            margin-left: 30px;
        }
        &-menu a {
            color: #333333;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }
        &-form {
            max-width: 360px;
            width: 100%;
            position: relative;
            input {
                display: block;
                width: 100%;
                border: 1px solid rgb(217, 223, 229);
                height: 44px;
                border-radius: 22px;
                font-size: 15px;
                padding-left: 25px;
                padding-right: 80px;
                font-weight: 400;
                &::placeholder {
                    color: #898f96;
                    font-weight: 400;
                }
            }
            button {
                position: absolute;
                border: none;
                width: 70px;
                height: 44px;
                background-color: rgb(6, 116, 236);
                right: 0;
                top: 0;
                border-radius: 22px;
            }
        }
    }
}

.mainScreen {
    background-color: #2448cb;
    min-height: 725px;
    &__inner {
        padding-top: 185px;
        padding-bottom: 100px;
        text-align: center;
        position: relative;
        min-height: 725px;
        &-titleFirst {
            font-size: 60px;
            line-height: 70px;
            color: #f3f3f8;
            font-weight: 400;
        }
        &-titleSecond {
            font-size: 60px;
            line-height: 70px;
            color: #f3f3f8;
            font-weight: 500;
            margin-bottom: 50px;
        }
        &-text {
            font-size: 20px;
            color: #f3f3f8;
            margin-bottom: 70px;
        }
        &-buttonHolder {
            margin: 0 auto;
            max-width: 420px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            & a {
                padding: 20px 35px;
                color: #fff;
                font-size: 16px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 33px;
                transition: all .3s;
            }
            & a:hover {
                color: #0674ec;
                background-color: #fff;
            }
        }
        &-search {
            max-width: 1140px;
            width: 100%;
            height: 135px;
            background-color: #fff;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            border-radius: 6px;
            position: absolute;
            bottom: -67px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            & form {
                max-width: 1065;
                width: 100%;
                display: flex;
                justify-content: center;
                & input {
                    max-width: 615px;
                    width: 100%;
                    height: 55px;
                    border: 1px solid rgb(220, 220, 220);
                    border-radius: 4px 0 0 4px;
                    border-right: none;
                    font-size: 16px;
                    color: #676767;
                    padding-left: 30px;
                    padding-right: 30px;
                    outline: none;
                    margin-right: 0;
                }
                & select {
                    width: 195px;
                    height: 55px;
                    border: 1px solid rgb(220, 220, 220);
                    border-radius: 0 4px 4px 0;
                    border-left: none;
                    font-size: 16px;
                    color: #676767;
                    padding-left: 15px;
                    outline: none;
                    padding-right: 20px;
                    margin-left: 0;
                }
                & button {
                    border: none;
                    outline: none;
                    height: 55px;
                    max-width: 220px;
                    min-width: 115px;
                    width: 100%;
                    color: #fff;
                    font-size: 16px;
                    background-color: #0674ec;
                    border-radius: 4px;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
        }
        &-searchBg1 {
            position: absolute;
            max-width: 1110px;
            width: 97.37%;
            height: 135px;
            bottom: -54px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, .5);
            border-radius: 6px;
            z-index: 2;
        }
        &-searchBg2 {
            position: absolute;
            max-width: 1080px;
            width: 94.74%;
            height: 135px;
            bottom: -41px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, .5);
            border-radius: 6px;
            z-index: 1;
        }
    }
}

.benefits__inner {
    margin-top: 185px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    text-align: center;
}

.benefits__item {
    max-width: 360px;
    width: 100%;
    padding: 40px 35px 45px;
    &-central {
        max-width: 360px;
        width: 100%;
        padding: 40px 35px 45px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &-img {
        margin-bottom: 40px;
    }
    &-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    &-text {
        color: #555555;
        line-height: 30px;
    }
}

//Begining of Featured Products Section
.featuredProducts {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    &__inner {
        &-title {
            min-height: 110px;
            width: 100%;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            background-color: #fff;
            border-radius: 4px;
            padding-left: 25px;
            padding-right: 165px;
            font-size: 30px;
            line-height: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
    }
}

.featuredProducts__slider {
    margin-bottom: 120px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    background-color: #fff;
    position: relative;
    &-item {
        width: 100%;
        display: flex !important;
    }
    &-prevArrow {
        background: none;
        border: none;
        position: absolute;
        width: 55px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 22px 0 0 22px;
        right: 85px;
        top: -127px;
        z-index: 3;
        outline: none;
    }
    &-nextArrow {
        background: none;
        border: none;
        position: absolute;
        width: 55px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 0 22px 22px 0;
        right: 31px;
        top: -127px;
        z-index: 3;
        outline: none;
    }
    &-img {
        width: 555px;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-info {
        padding: 45px 50px 25px;
    }
}

.featuredProducts__slider-info {
    width: 585px;
}

.sliderInfo__ {
    &title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &-avatar {
            padding-right: 10px;
            & img {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }
        &-name {
            font-size: 15px;
            line-height: 15px;
            margin-right: 15px;
        }
        &-categoryImg {
            padding-right: 10px;
            & img {
                width: 16px;
                height: 16px;
                object-fit: cover;
            }
        }
        &-category {
            color: #7347c1;
            line-height: 15px;
        }
    }
    &text {
        color: #555555;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    &tags {
        display: flex;
        margin-bottom: 45px;
        & a {
            color: #868c96;
            line-height: 15px;
            padding: 9px 18px;
            border-radius: 16px;
            background-color: #f1f3f6;
            & + a {
                margin-left: 7px;
            }
        }
    }
    &bottom {
        padding-top: 23px;
        border-top: 1px solid #ececec;
        width: 100%;
        display: flex;
        align-items: center;
    }
    &priceCategory a {
        color: #fff;
        padding: 9px 18px;
        background-color: #0674ec;
        border-radius: 16px;
    }
    &stars {}
}

//End of Featured Products Section
//Begining of Newest Release Products
.newestProducts {
    background-color: #f6f7fb;
    padding: 120px 0;
    &__inner {
        &-top {
            position: relative;
        }
        &-categories {
            height: 92px;
            width: 100%;
            box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
            padding: 0 25px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & button {
                color: #747b86;
                background-color: #f1f3f6;
                border: none;
                outline: none;
                padding: 9px 18px;
                border-radius: 16px;
                cursor: pointer;
            }
        }
        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.newestProducts__inner-items {
    margin-top: 50px;
}

.newestProducts__item {
    max-width: 365px;
    width: 100%;
    margin-bottom: 30px;
    &-img {
        width: 100%;
        height: 230px;
        border-radius: 4px 4px 0 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-inner {
        padding: 30px 30px 15px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

    }
    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        margin-bottom: 35px;
        border-bottom: 1px solid #ececec;
    }
    &-bottom {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: space-between;
    }
}

.product__item-avatar {
    margin-right: 9px;
    & img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.product__item-userName {
    line-height: 15px;
    color: #000;
    margin-right: 20px;
}

.product__item-categoryImg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.product__item-category {
    line-height: 15px;
    color: #7347c1;
}

.item__bottom-price {
    color: #0674ec;
    padding: 8px 17px;
    background-color: #e6f1fd;
    line-height: 15px;
    border-radius: 15px;
}

.newestProducts__buttonHolder {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;

    & button {
        background-color: #f1f3f6;
        border: none;
        outline: none;
        padding: 20px 35px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 28px;
        cursor: pointer;
    }
}

.newestProducts__button.mixitup-control-active {
    background-color: #0674ec;
    color: #fff;
    transition: all .3s;
}

.Forma_1_copy {
  background-color: rgb(115, 71, 193);
  position: absolute;
  left: 570px;
  top: 3170px;
  width: 16px;
  height: 16px;
  z-index: 425;
}
