@import 'vars';
@import 'global';
@import 'fonts';
.header {
    .header__top {
        background-color: #eef1f3;
    }
    .header__topInner {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__topInnerBox {
        display: flex;
        align-items: center;
    }
    .header__becomeASeller {
        align-self: flex-end;
        a {
            font-size: 14px;
            line-height: 14px;
            color: #fff;
            padding: 13px 20px;
            background-color: #0674ec;
            border-radius: 20px;
        }
    }
    .header__alerts {
        margin-left: 50px;
        display: flex;
        align-items: center;
        a + a {
            margin-left: 30px;
        }
    }
    .header__userInfo {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .userInfo__stat {
        margin-left: 25px;
    }
    .userInfo__avatar {
        width: 50px;
        height: 50px;
    }
    .userInfo__name,
    .userInfo__balance {
        display: block;
        line-height: 22px;
    }
    .userInfo__name {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
    }
    .userInfo__balance {
        color: #0674ec;
        font-size: 15px;
    }
    .header__bottom {
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
        }
        &-menu li {
            display: inline-block;
        }
        &-menu li + li {
            margin-left: 30px;
        }
        &-menu a {
            color: #333333;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
        }
        &-form {
            max-width: 360px;
            width: 100%;
            position: relative;
            input {
                display: block;
                width: 100%;
                border: 1px solid rgb(217, 223, 229);
                height: 44px;
                border-radius: 22px;
                font-size: 15px;
                padding-left: 25px;
                padding-right: 80px;
                font-weight: 400;
                &::placeholder {
                    color: #898f96;
                    font-weight: 400;
                }
            }
            button {
                position: absolute;
                border: none;
                width: 70px;
                height: 44px;
                background-color: rgb(6, 116, 236);
                right: 0;
                top: 0;
                border-radius: 22px;
            }
        }
    }
}

.mainScreen {
    background-color: #2448cb;
    min-height: 725px;
    &__inner {
        padding-top: 185px;
        padding-bottom: 100px;
        text-align: center;
        position: relative;
        min-height: 725px;
        &-titleFirst {
            font-size: 60px;
            line-height: 70px;
            color: #f3f3f8;
            font-weight: 400;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }
        &-titleSecond {
            font-size: 60px;
            line-height: 70px;
            color: #f3f3f8;
            font-weight: 500;
            margin-bottom: 50px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }
        &-text {
            font-size: 20px;
            color: #f3f3f8;
            margin-bottom: 70px;
        }
        &-buttonHolder {
            margin: 0 auto;
            max-width: 420px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            & a {
                padding: 20px 35px;
                color: #fff;
                font-size: 16px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 33px;
                transition: all .3s;
            }
            & a:hover {
                color: #0674ec;
                background-color: #fff;
            }
        }
        &-search {
            max-width: 1140px;
            width: 100%;
            height: 135px;
            background-color: #fff;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            border-radius: 6px;
            position: absolute;
            bottom: -67px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            & form {
                max-width: 1065;
                width: 100%;
                display: flex;
                justify-content: center;
                & input {
                    max-width: 615px;
                    width: 100%;
                    height: 55px;
                    border: 1px solid rgb(220, 220, 220);
                    border-radius: 4px 0 0 4px;
                    border-right: none;
                    font-size: 16px;
                    color: #676767;
                    padding-left: 30px;
                    padding-right: 30px;
                    outline: none;
                    margin-right: 0;
                }
                & select {
                    width: 195px;
                    height: 55px;
                    border: 1px solid rgb(220, 220, 220);
                    border-radius: 0 4px 4px 0;
                    border-left: none;
                    font-size: 16px;
                    color: #676767;
                    padding-left: 15px;
                    outline: none;
                    padding-right: 20px;
                    margin-left: 0;
                }
                & button {
                    border: none;
                    outline: none;
                    height: 55px;
                    max-width: 220px;
                    min-width: 115px;
                    width: 100%;
                    color: #fff;
                    font-size: 16px;
                    background-color: #0674ec;
                    border-radius: 4px;
                    margin-left: 30px;
                    cursor: pointer;
                }
            }
        }
        &-searchBg1 {
            position: absolute;
            max-width: 1110px;
            width: 97.37%;
            height: 135px;
            bottom: -54px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, .5);
            border-radius: 6px;
            z-index: 2;
        }
        &-searchBg2 {
            position: absolute;
            max-width: 1080px;
            width: 94.74%;
            height: 135px;
            bottom: -41px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, .5);
            border-radius: 6px;
            z-index: 1;
        }
    }
}

.benefits__inner {
    margin-top: 185px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    text-align: center;
}

.benefits__item {
    max-width: 360px;
    width: 100%;
    padding: 40px 35px 45px;
    transition: .5s;
    &-img {
        margin-bottom: 40px;
    }
    &-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    &-text {
        color: #555555;
        line-height: 30px;
    }
}

.benefits__item:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

//Begining of Featured Products Section
.featuredProducts {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    &__inner {
        &-title {
            min-height: 110px;
            width: 100%;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            background-color: #fff;
            border-radius: 4px;
            padding-left: 25px;
            padding-right: 165px;
            font-size: 30px;
            line-height: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }
    }
}

.featuredProducts__slider {
    margin-bottom: 120px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    background-color: #fff;
    position: relative;
    &-item {
        width: 100%;
        display: flex !important;
    }
    &-prevArrow {
        background: none;
        border: none;
        position: absolute;
        width: 55px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 22px 0 0 22px;
        right: 85px;
        top: -127px;
        z-index: 3;
        outline: none;
    }
    &-nextArrow {
        background: none;
        border: none;
        position: absolute;
        width: 55px;
        height: 45px;
        background-color: #7347c1;
        border-radius: 0 22px 22px 0;
        right: 31px;
        top: -127px;
        z-index: 3;
        outline: none;
    }
    &-img {
        width: 555px;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-info {
        padding: 45px 50px 25px;
    }
}

.featuredProducts__slider-info {
    width: 585px;
}

.sliderInfo__ {
    &title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &-avatar {
            padding-right: 10px;
            & img {
                width: 30px;
                height: 30px;
                object-fit: cover;
            }
        }
        &-name {
            font-size: 15px;
            line-height: 15px;
            margin-right: 15px;
        }
        &-categoryImg {
            padding-right: 10px;
            & img {
                width: 16px;
                height: 16px;
                object-fit: cover;
            }
        }
        &-category {
            color: #7347c1;
            line-height: 15px;
        }
    }
    &text {
        color: #555555;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    &tags {
        display: flex;
        margin-bottom: 45px;
        & a {
            color: #868c96;
            line-height: 15px;
            padding: 9px 18px;
            border-radius: 16px;
            background-color: #f1f3f6;
            & + a {
                margin-left: 7px;
            }
        }
    }
    &bottom {
        padding-top: 23px;
        border-top: 1px solid #ececec;
        width: 100%;
        display: flex;
        align-items: center;
        &-left {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-right {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &priceCategory a {
        color: #fff;
        padding: 9px 18px;
        background-color: #0674ec;
        border-radius: 16px;
    }
    &stars {}
}

//End of Featured Products Section
//Begining of Newest Release Products
.newestProducts {
    background-color: #f6f7fb;
    padding: 120px 0;
    &__inner {
        &-top {
            position: relative;
        }
        &-categories {
            height: 92px;
            width: 100%;
            box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
            padding: 0 25px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & button {
                color: #747b86;
                background-color: #f1f3f6;
                border: none;
                outline: none;
                padding: 9px 18px;
                border-radius: 16px;
                cursor: pointer;
            }
        }
        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.newestProducts__inner-items {
    margin-top: 50px;
}

.newestProducts__item {
    max-width: 365px;
    width: 100%;
    margin-bottom: 30px;
    &-img {
        width: 100%;
        height: 230px;
        border-radius: 4px 4px 0 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }
    &-hoverPlate {
        position: absolute;
        width: 100%;
        height: 230px;
        border-radius: 4px 4px 0 0;
        background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        opacity: 0;
        top: 100%;
        transition: .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: inline-block;
            width: 128px;
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
            padding: 14px 0;
            border-radius: 21px;
            font-size: 14px;
            margin: 0 5px;
            transition: .3s ease;
            outline: none;
        }
        a:hover {
            background-color: #fff;
            color: #0674ec;
        }
    }
    &-img:hover > .newestProducts__item-hoverPlate {
        top: 0;
        opacity: .902;
    }

.Rectangle_237 {
  border-width: 1px;
  border-color: rgb(244, 244, 244);
  border-style: solid;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 435px;
  top: 2961px;
  width: 128px;
  height: 43px;
  z-index: 581;
}



    &-inner {
        padding: 30px 30px 15px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        margin-bottom: 35px;
        border-bottom: 1px solid #ececec;
        text-align: left;
    }
    &-bottom {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: space-between;
    }
}

.product__item-avatar {
    margin-right: 9px;
    & img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.product__item-userName {
    line-height: 15px;
    color: #000;
    margin-right: 20px;
}

.product__item-categoryImg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.product__item-category {
    line-height: 15px;
    color: #7347c1;
}

.item__bottom-price {
    color: #0674ec;
    padding: 8px 17px;
    background-color: #e6f1fd;
    line-height: 15px;
    border-radius: 15px;
}

.item__bottom-like {
    position: relative;
    padding-left: 22px;
}

.item__bottom-like::before {
    content: '';
    position: absolute;
    background-image: url(../images/followersFeed/heart.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    left: 0;
    top: 2px;
}

.item__bottom-purchase {
    color: #0674ec;
    position: relative;
    padding-left: 22px;
}
.item__bottom-purchase::before {
    content: '';
    position: absolute;
    background-image: url(../images/followersFeed/cart.png);
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 2px;
}

.newestProducts__buttonHolder {
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    & button {
        background-color: #f1f3f6;
        border: none;
        outline: none;
        padding: 20px 35px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 28px;
        cursor: pointer;
    }
}

.newestProducts__button.mixitup-control-active {
    background-color: #0674ec;
    color: #fff;
    transition: all .3s;
}
//End of Newest Products Section

//Begin of Followers Feed Section
.followersFeed {
    background-color: #eff1f5;
    padding: 120px 0;
    &__inner {
        &-slider {
            display: flex;
            justify-content: space-between;
            position: relative;
        }
    }
}

.followersFeed__slider-prevArrow,
.followersFeed__slider-nextArrow {
    position: absolute;
    outline: none;
    border: none;
    z-index: 60;
}

.followersFeed__slider-prevArrow {
    width: 55px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 22px 0 0 22px;
    right: 85px;
    top: -127px;
}

.followersFeed__slider-nextArrow {
    width: 55px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 0 22px 22px 0;
    right: 31px;
    top: -127px;
}

.slick-list {
    text-align: center;
}

//End of Followers Feed Section
//Start of Statistics Section
.statistics {
    background-color: #212225;
    padding: 100px 0;
    min-height: 355px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        max-width: 155px;
        width: 100%;
        text-align: center;
        &-icon {
            width: 48px;
            height: 41px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0 auto 50px;
        }
        &-number {
            font-size: 36px;
            margin-bottom: 20px;
        }
        &-text {
            font-size: 18px;
            color: #fff;
        }
    }
}

//End of Statistics Section
//Start of Benefits Section
.whyChoose {
    padding: 120px 0;
    text-align: center;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &-item {
            border-radius: 4px;
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            max-width: 360px;
            width: 100%;
            max-height: 380px;
            position: relative;
            padding: 0 35px;
        }
    }
}

.inner-item__number {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 48px;
    color: #5c87f8;
    opacity: .2;
}

.inner-item__icon {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px auto;
}

.inner-item__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.inner-item__text {
    font-size: 16px;
    color: #555555;
    margin-bottom: 60px;
}

//End of Benefits Section
//Start of Join Section
.join {
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__item {
        padding: 100px 15px;
        text-align: center;
        width: 50%;
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-icon {
            width: 120px;
            height: 120px;
            object-fit: cover;
            margin-bottom: 50px;
        }
        &-title {
            max-width: 590px;
            width: 100%;
            font-size: 36px;
            color: #fff;
            margin-bottom: 35px;
        }
        &-text {
            max-width: 590px;
            width: 100%;
            font-size: 16px;
            line-height: 30px;
            color: #fff;
            margin-bottom: 50px;
        }
        &-linkOne,
        &-linkTwo {
            width: 192px;
            height: 60px;
            font-size: 16px;
            line-height: 16px;
            border-radius: 30px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-linkOne {
            color: #0674ec;
        }
        &-linkTwo {
            color: #7347c1;
        }
    }
    &__item:first-child {
        background-image: url(../images/join/joinBgLeft.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item:last-child {
        background-image: url(../images/join/joinBgRigth.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//End of Join section
//Start of Feedback Section
.feedback {
    text-align: center;
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__item {
        max-width: 560px;
        width: 100%;
        height: 315px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        border-left: 2px solid #0674ec;
        margin: 0 15px 60px;
        padding: 50px 40px;
        text-align: left;
        &-header {
            position: relative;
        }
        &-avatar {
            width: 80px;
            height: 80px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-name {
            font-size: 20px;
            color: #000;
            margin: 20px 0 17px 100px;
            position: relative;
        }
        &-name::after {
            content: '';
            position: absolute;
            background-image: url(../images/feedback/bubble.png);
            width: 57px;
            height: 51px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            right: -170px;
            top: 0;
        }
        &-occupation {
            font-size: 16px;
            color: #555555;
            margin: 0 0 50px 100px;
        }
    }
}

.feedback__btn {
    padding: 23px 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 31px;
    background-color: #0674ec;
}

//End of Feedback Section
//Start of Latest News Section
.latestNews {
    background-color: #eff1f5;
    padding: 120px 0;
    text-align: center;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        max-width: 360px;
        width: 100%;
        background-color: #fff;
        &-image {
            width: 360px;
            height: 230px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-body {
            padding: 30px 25px;
            text-align: left;
            border-bottom: 1px solid #ececec;
        }
        &-title {
            font-size: 22px;
            margin-bottom: 30px;
        }
        &-text {
            font-size: 16px;
            color: #555555;
            line-height: 30px;
        }
        &-bottom {
            padding: 10px 25px;
            display: flex;
            justify-content: space-between;
        }
        &-statistics {
            display: flex;
            border-left: 1px solid #ececec;
            width: 50%;
        }
        &-date {
            margin: 12px 0 12px 23px;
            font-size: 15px;
            color: #999999;
            position: relative;
        }
        &-date::before {
            content: '';
            position: absolute;
            background-image: url(../images/latestNews/clock.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 16px;
            height: 15px;
            left: -23px;
            top: 1px;
        }
        &-likes,
        &-shows {
            font-size: 15px;
            line-height: 15px;
            margin: 12px 0 12px 54px;
            color: #7e7e7e;
            position: relative;
        }
        &-likes::before {
            content: '';
            position: absolute;
            background-image: url(../images/latestNews/bubble.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 16px;
            height: 14px;
            left: -25px;
            top: 1px;
        }
        &-shows::before {
            content: '';
            position: absolute;
            background-image: url(../images/latestNews/eye.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 17px;
            height: 9px;
            left: -26px;
            top: 3px;
        }
    }
}

//End of Latest News Section
//Start of More Benefits Section

.moreBenefits {
    &__inner {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__item {
        width: 50%;
    }
    &__item:last-child {
        border-left: 1px solid #ececec;
    }
    &__moneyBack-icon {
        background-image: url(../images/moreBenefits/Icon_1.png);
        width: 150px;
        height: 120px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 63px auto 30px;
    }
    &__support-icon {
        background-image: url(../images/moreBenefits/Icon_2.png);
        width: 155px;
        height: 117px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 63px auto 30px;
    }
    &__text {
        font-size: 24px;
        margin-bottom: 60px;
        span {
            color: #0674ec;
        }
    }
}

//End of More Benefits Section
//Start of Join Us Today Section

.joinUsToday {
    background-image: -webkit-linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
    text-align: center;
    padding: 110px 0;
    &__title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 30px;
    }
    &__undertitle {
        font-size: 18px;
        color: #e7e7e7;
        margin-bottom: 50px;
    }
    &__link {
        padding: 20px 45px;
        border-radius: 28px;
        color: #0674ec;
        font-size: 16px;
        background-color: #fff;
    }
}

//End of join us today Section

//Start of Footer

.footer{
    a {
        color: #ababab;
    }
    &__top {
        background-color: #262b30;
        padding: 115px 0;
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        &-logo {
            height: 40px;
            margin-bottom: 35px;
        }
        &-title {
            margin-bottom: 35px;
            font-size: 18px;
            color: #fff;
            line-height: 40px;
        }
        &-col:first-child {
            max-width: 270px;
            width: 100%;
        }
        &-col:nth-child(2),
        &-col:nth-child(3) {
            max-width: 165px;
            width: 100%;
        }
        &-col:last-child {
            max-width: 360px;
            width: 100%;
        }
        &-text {
            line-height: 28px;
            color: #ababab;
            margin-bottom: 35px;
        }
        &-phone,
        &-email,
        &-address {
            color: #ababab;
            margin-top: 25px;
            padding-left: 30px;
            position: relative;
        }
        &-phone::before,
        &-email::before,
        &-address::before{
            content: '';
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &-phone::before {
            width: 18px;
            height: 17px;
            background-image: url(../images/footer/phone-handset.png);
        }
        &-email::before {
            width: 17px;
            height: 11px;
            background-image: url(../images/footer/envelope.png);
        }
        &-address::before {
            width: 10px;
            height: 17px;
            left: 3px;
            background-image: url(../images/footer/map-marker.png);
        }
        &-links {
            li {
                margin-bottom: 18px;
            }
        }
        &-form {
            position: relative;
            margin-bottom: 40px;
            input {
                width: 100%;
                height: 50px;
                background-color: #fff;
                border: none;
                outline: none;
                border-radius: 25px;
                padding-left: 30px;
                padding-right: 120px;
                color: #000;
                placeholder {
                    color: #ababab;
                }
            }
            button {
                position: absolute;
                width: 110px;
                height: 50px;
                border-radius: 25px;
                border: none;
                outline: none;
                background-color: #0674ec;
                color: #fff;
                right: -1px;
                bottom: 0;
                cursor: pointer;
            }
        }
        &-socialLinks {
            display: flex;
            li {
                & + li {
                    margin-left: 13px;
                }
                a {
                    width: 42px;
                    height: 42px;
                    border-radius: 21px;
                    background-image: url(../images/footer/social_sprite.png);
                }
                .facebook {
                    background-position: -42px 0;
                }
                .twitter {
                    background-position: 0 0;
                }
                .google {
                    background-position: -84px -42px;
                }
                .pinterest {
                    background-position: 0 -42px;
                }
                .linkedin {
                    background-position: -42px -42px;
                }
                .any {
                    background-position: -84px 0;
                }

            }
        }
    }
    &__bottom {
        text-align: center;
        padding: 40px 0;
        background-color: #192027;
        color: #999999;
        a {
            color: #fff;
        }
    }
}

//End of Footer


